.container {
  width: 100%;
  height: 6rem;
  background: #333;
}

.logo {
  width: auto;
  height: 100%;
  background: #333;
  cursor: pointer;
}

.logo img {
  max-width: 6rem;
  height: auto;
}

.menucontainer {
  width: 100%;
  max-width: 80rem;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 5rem;
}

.menucontainer .menu {
  width: auto;

  display: flex;
}

.menucontainer .menu ul {
  display: flex;
    align-items: center;
}

.menucontainer .menu ul li {
  margin: 0 1rem;
    color: var(--white);
    cursor: pointer;
    transition: filter 0.2s;
}

.menucontainer .menu ul li:hover {
  filter: brightness(90%);
}

.menucontainer .menu > div {
  display: flex;
}

.menucontainer .buttonAds {
  width: 10.5rem;
  height: 2.5rem;
  background: var(--orange);
  border-radius: 0.3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  cursor: pointer;
}

.menucontainer .buttonAds:hover {
  filter: brightness(90%);
}

.menucontainer .buttonSearch {
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border-radius: 0.3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.6rem;
  cursor: pointer;
}

.menucontainer .buttonSearch img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s ;
}

.menucontainer .buttonSearch img:hover {
  transform: scale(1.1);
}
